##	ce sont mes regles perso, pensez a les adapter ...
#	
	RewriteEngine on
		
	# Disallow acces to (reel or fake) wp dir or files
		
		# carefull of temp. files and other similar copies
		RewriteRule ^wp-config.php(.*)? - [F]
		
		RewriteRule ^wp/(.*)? - [F]
		RewriteRule ^wordpress/(.*)? - [F]
		RewriteRule ^wp-content/(.*)? - [F]
		
	# Prevent somes bot scan
		
		RewriteRule cgi-bin/?(.*)? - [F]
		RewriteRule ^admin/?(.*)? - [F]
		RewriteRule ^administrator/?(.*)? - [F]
		RewriteRule ^user/?(.*)? - [F]
		RewriteRule ^typo3/?(.*)? - [F]
		RewriteRule ^manager/?(.*)? - [F]
		RewriteRule ^uploadify/?(.*)? - [F]
		
	
	# query string	
		
		# redirect author query string	
		RewriteCond %{SCRIPT_FILENAME} !^(.*)wp-admin/(.*)
		RewriteCond %{QUERY_STRING} author=(.*)?
		RewriteRule ^.* /wishlist/? [R=301,L,QSD]
		
		# Query ?replytocom
		RewriteCond %{QUERY_STRING} replytocom=?(.*)?
		RewriteRule ^(.*)? /$1? [R=301,L,QSD]
		
		#  ?__hs ... come from openclassrooms
		RewriteCond %{QUERY_STRING} __hs?(.*)?
		RewriteRule ^(.*)? /$1? [R=301,L,QSD]

#	
##
